<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Экзамен</title>
	<link rel="stylesheet" href="dist/css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
	<script src="dist/js/plugins/libs.min.js"></script>
	<script src="dist/js/script/script.min.js"></script>
	<!--[if lt IE 9]>
	<link href="dist/css/styleie8.css" rel="stylesheet"/>
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    	<script>
        	document.createElement('header');
        	document.createElement('main');
        	document.createElement('section');
        	document.createElement('footer');
    	</script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
	<header class="header">
		<div class="header__container">
			<div class="header__links">
				<a href="#" class="header__links_logIn">Log in</a>
				<a href="#" class="header__links_signUp">Sign up</a>
			</div>
			<h2 class="header__logo">URLAUBSGLÜCK</h2>
			<div class="header__content">
				<h1 class="header__content_top">share your <br> holiday dreams</h1>
				<p class="header__content_center">And find the perfect partner to fullfill it</p>
				<a href="#" class="header__content_link">Find your holiday partner</a>
			</div>
		</div>
	</header>
	<section class="slider">
		<h3 class="slider__header">How Urlaubsglück works?</h3>
		<div class="jcarousel__slide-box">
            <div class="jcarousel-wrapper">
                <div class="jcarousel jcarousel1">
                    <ul>
                        <li>
                        	<img src="dist/img/carousel_image1.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image1_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image1_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image2.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image2_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image2_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image3.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image3_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image3_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                    </ul>
                    <div class="slider__box_content">
					<a href="#" class="slider__box_content_link">step 1</a>
					<h2 class="slider__box_content_title">Sed leo enim, condimentum</h2>
					<p class="slider__box_content_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
                </div>
                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
            </div>
            <div class="jcarousel-wrapper">
                <div class="jcarousel jcarousel2">
                    <ul>
                        <li>
                        	<img src="dist/img/carousel_image2.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image2_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image2_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image3.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image3_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image3_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image1.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image1_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image1_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                    </ul>
                    <div class="slider__box_content slider__box_content_center">
					<a href="#" class="slider__box_content_link">step 2</a>
					<h2 class="slider__box_content_title">Morbi velit risus</h2>
					<p class="slider__box_content_text">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
				</div>
                </div>
                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
            </div>
            <div class="jcarousel-wrapper">
                <div class="jcarousel jcarousel3">
                    <ul>
                        <li>
                        	<img src="dist/img/carousel_image3.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image3_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image3_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image1.jpg" alt="" class="jcarousel__image_desktop">
                       		<img src="dist/img/image1_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image1_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                        <li>
                        	<img src="dist/img/carousel_image2.jpg" alt="" class="jcarousel__image_desktop">
                        	<img src="dist/img/image2_mobile.jpg" alt="" class="jcarousel__image_mobile">
							<img src="dist/img/image2_tablet.jpg" alt="" class="jcarousel__image_tablet">
                        </li>
                    </ul>
                    <div class="slider__box_content">
					<a href="#" class="slider__box_content_link">step 3</a>
					<h2 class="slider__box_content_title">Sed leo enim, condimentum</h2>
					<p class="slider__box_content_text">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
				</div>
                </div>
                <a href="#" class="jcarousel-control-prev"></a>
                <a href="#" class="jcarousel-control-next"></a>
            </div>
        </div>
	</section>
	<section class="partners">
		<div class="container">
			<h3 class="partners__title">Meet a partner for your best holiday</h3>
			<div class="partners__block_leftSide">
				<div class="partners__block">
					<div class="partners__block_box">
						<span class="partners__block_box_images">
							<img class="partners__block_box_images-avatar" src="dist/img/avatar1.png" alt="">
							<img class="partners__block_box_images-icon" src="dist/img/icon1.png" alt="">
						</span>
						<p class="partners__block_box_name">Bradley Hunter</p>
						<p class="partners__block_box_text">Based in Chicago. I love playing tennis and loud music.</p>
					</div>
				</div>
				<div class="partners__block partners__block_lucas">
					<div class="partners__block_box">
						<span class="partners__block_box_images">
							<img class="partners__block_box_images-avatar" src="dist/img/avatar3.png" alt="">
							<img class="partners__block_box_images-icon" src="dist/img/icon2.png" alt="">
						</span>
						<p class="partners__block_box_name">Lucas Marsha</p>
						<p class="partners__block_box_text">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.</p>
					</div>
				</div>
			</div>
			<div class="partners__block_rightSide">
				<div class="partners__block partners__block_heather">
					<div class="partners__block_box">
						<span class="partners__block_box_images">
							<img class="partners__block_box_images-avatar" src="dist/img/avatar2.png" alt="">
							<img class="partners__block_box_images-icon" src="dist/img/icon3.png" alt="">
						</span>
						<p class="partners__block_box_name">Heather Walker</p>
						<p class="partners__block_box_text">I'm a happy person that loves cats and climbing on mountains.</p>
					</div>
				</div>
				<div class="partners__block partners__block_bradley">
					<div class="partners__block_box">
						<span class="partners__block_box_images">
							<img class="partners__block_box_images-avatar" src="dist/img/avatar4.png" alt="">
							<img class="partners__block_box_images-icon" src="dist/img/icon4.png" alt="">
						</span>
						<p class="partners__block_box_name">Bradley Hunter</p>
						<p class="partners__block_box_text">Based in Chicago. I love playing tennis and loud music.</p>
					</div>
				</div>
			</div>
		</div>
		<a href="#" class="partners__link">See other partners</a>
	</section>
	<div class="discover">
		<h2 class="discover__header">Discover holiday activity ideas</h2>
		<div class="discover__box">
			<script type="text/template" id="box_template">
				<div class="discover__box_grid grid">
					<% for (var i = 0; i < hits.length; i++) { %>
						<div class="grid__item 
									<% if ((i === 4) || (i === 5)) {%>
									grid__item_width2
									<% } %>" 
						style="background: url(<%=hits[i].webformatURL %>) center no-repeat; 
						background-size: 100% 100%;"></div>
						<p class="grid__item_text grid__item_text<%= i+1 %>">
                            <%=hits[i].tags%>
                        </p>
					<% } %>
				</div>
			</script>
		</div>
		<h2 class="discover__header">Discover holiday activity ideas</h2>
		<form action="#" method="GET" class="discover__search">
			<p class="discover__search_title">Hi! What are your holiday interests?</p>
			<input required type="text" class="discover__search_input" placeholder="Enter your interests">
			<input type="submit" class="discover__search_button" value="Search partners">
		</form>
	</div>
	<footer class="footer">
		<div class="footer__wrapper">
			<div class="footer__header">
				<h3 class="footer__header_title">URLAUBSGLÜCK</h3>
			</div>
			<div class="footer__company">
				<a href="#" class="footer__company_link">Company</a>
				<ul class="footer__company_list">
					<li class="footer__company_list_item"><a href="#" class="footer__company_list_link">About</a></li>
					<li class="footer__company_list_item"><a href="#" class="footer__company_list_link">Contacts</a></li>
					<li class="footer__company_list_item"><a href="#" class="footer__company_list_link">Press</a></li>
					<li class="footer__company_list_item"><a href="#" class="footer__company_list_link">Blog</a></li>
				</ul>
			</div>
			<div class="footer__partners">
				<p class="footer__partners_title">Partners</p>
			</div>
			<div class="footer__designed">
				<p class="footer__designed_text">designed by</p>
				<img src="dist/img/logo.png" alt="">
			</div>
		</div>
	</footer>
</div>
</body>
</html>